%gallery-extend{
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.agal-cont{
  @extend %gallery-extend;

  .agal{
    @extend %gallery-extend;
    display: inline-flex;
    transition-timing-function: ease-out;
  }
}

