@import '../globals/colors.scss';
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryColor;
  .img-container {
    padding: 5px;
    min-height: 230px;
    .image {
      display: flex;
      max-width: 100%;
      height: auto;
    }
   
  }
  a{
    text-decoration: none;
  }
  .text-container {
    display: flex;
  }
}