@import '../globals/colors.scss';
@import '../globals/fonts.scss';
@import '../globals/mq.scss';

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: $primaryColor;
  max-height: 300px;
  min-height: 272px;
  
  .img-container {
    margin: 5px;
    height: 200px;
    display: flex;
    min-width: 96%;
    justify-content: center;
    background-color: $white;

    .image {
      display: flex;
      max-width: 100%;
      height: 100%;
      opacity: 0;
      object-fit: cover;
      animation: fadeInImage 2000ms forwards;
  
    }
  
    @include mq('x-small-screen', 'min'){
      height: auto;
      min-width: unset;
      .image{
        height: auto;
      }
    }
  }


  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  .text-container {
    display: flex;
  }
  .button {
    text-decoration: none;
    cursor: pointer;
    @include font-set(1, 1em, $enfasisColor, 400);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: .3em 1em;
    color:$textColor;
    border: 0.15em solid $textColor;
    border-radius: 10px;
    background-color:$primaryColor;
    max-width: 10em;
    &:hover{
      color:$primaryColor;
      background-color:$secondaryColor;
    }
  }
}

@keyframes fadeInImage{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}