@import '../globals/fonts.scss';
@import '../globals/colors.scss';

.map-container{
  grid-area: map;
}

.map-content{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

.map{
  width: 100%;
  margin-bottom: 10px;
}

.map-info{
  margin-top: 20px;
}

.map-info-title{
  @include font-set(1, 1.2em, $textColor, bold);
}