@import '../globals/colors.scss';
@import '../globals/mq.scss';
@import '../globals/fonts.scss';

//hero mixins
@mixin hero-item($bottom, $paddingLeft: 0) {
  bottom: $bottom;
  padding-left: $paddingLeft;
}

@mixin hero-background($image) {
  background: url($image) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.img-hero{
  height: 590px;
  width: 100%;  
  // @include hero-background('/images/backgrounds/hero-default.webp');
  position: relative;
  background-color: $textColor;

  .image{
    position: relative;
    width: 65%;
    height: 100%;
    z-index: 1;
  }

  .arrows{
    position: absolute;
    bottom: 0;
    left: 3vw;
    margin: auto;
    width: 24px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    @include mq('large-screen', 'min'){
      right: 3vw;
    }
  }

  .arrow{
    filter: invert(1);
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    &:nth-child(1){
      animation: fadeIn 1500ms linear 100ms infinite;
    }

    &:nth-child(2){
      animation: fadeIn 1500ms linear 200ms infinite;
    }

    &:nth-child(3){
      animation: fadeIn 1500ms linear 300ms infinite;
    }
  }

  .link a, h1, span{
    position: absolute;
    z-index: 3;
    text-align: right;
    right: 14vw;
  }

  h1, span{
    color: $white;
    background-color: $backgroundTextColor;
    margin: 0;
  }

  h1{
    @include font-set(3, 3.6em);
    font-weight: 500;
    @include hero-item(3.4em, 0.2em);
  }

  span{
    @include font-set(1, 2em);
    @include hero-item(4.5em, 0.2em);
  }

  .link a{
    text-decoration: none;
    @include font-set(1, 2em, $primaryColor);
    @include hero-item(1.5em);
    padding: 0.3em 1em;
    border: 3px solid $primaryColor;
    border-radius: 40px;
    background-color: $textColor;
    &:hover{
      transform: scale(1.05);
    }
    &:active{
      transform: scale(1);
    }
  }

  @include mq('medium-screen', 'max'){
    .image{
      width: 82%;
    }
  }

  @include mq('large-screen', 'max'){
    height: 520px;
    // @include hero-background('/images/backgrounds/hero-730w.webp');
    .link a, h1, span{
      right: 10vw;
    }

    margin-bottom: -6px;
    h1{
      font-size: 2.8em;
    }
  
    span, .link a{
      font-size: 1.5em;
    }
  }

  @include mq('small-screen', 'max'){
    // @include hero-background('/images/backgrounds/hero-600w-hd3.webp');

    .image{
      width: 100%;
    }

    .link a, h1, span{
      right: 3vw;
    }
    h1{
      margin-bottom: 5px;
      font-size: 1.8em;
    }

    span, .link a{
      font-size: 1.1em;
    }
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}