@import '../globals/mq.scss';
.container-single-product {
  display: grid;
  grid-template-columns: minmax(auto,1024px);
  justify-content: center;
  min-height: 100vh;
  .container-product {
    display: grid;
    grid-template-columns: 10fr 8fr  8fr ;
    gap: 2em;
    grid-template-areas:  "title title title"
                          "img price medidas"
                          "img  tecnicos medidas"
                          "img tex tex"
                         ;
                         
    @include mq ("medium-screen",'max'){
      grid-template-columns:  1fr 1fr ;
      gap: 1em;
      grid-template-areas:  "title title"
                            "price price"
                            "img tecnicos"
                            "  tex medidas"
                            
                            ;
          
    }
    @include mq ("small-screen",'max'){
      grid-template-columns:  1fr  ;
      gap: 1em;
      grid-template-areas:  "title"
                            "price"
                            "img"
                            "tecnicos"
                            "medidas"
                            "tex"
                            ;
          
    } 
  }
  .img-single-product {
    grid-area: img;
    margin: 0;
    padding: 0;
    img{
      width:100%
    }
  }
  .title-single-product {
    grid-area: title;
    
    
  }
  .tecnicos-single-product {
    grid-area: tecnicos;
    @include mq ("medium-screen",'max'){
      align-self: center;
    
    }
    
   
  }
  .text-single-product{
    grid-area: tex;
    @include mq ("medium-screen",'max'){
      align-self: center;
    
    }
    
  }
  .price-single-product{
    grid-area: price;
    align-self: end;
  }
  .medidas {
    grid-area: medidas;
    align-self: center;
    
    img{
      width:100%;
      max-width: 300px;
    }
   
  }

} 