@import '../globals/settings.scss';

%subtitle{
  @include font-set(3, 2em, $textColor, 400);
  padding: 80px 0 5px;
  margin: 0;
  
  @include mq("small-screen", 'max'){
    font-size: 1.55em;
  }
}

.container-title{
  padding-top: 0px;
  padding-bottom: 0px;

  .title{
    @include font-set(3, 3em, $textColor, 100); 
    margin: 0;
  }
  
  .title3{
    @include font-set(1, 1em, $textColor, 100); 
    margin: 0;
  }
  .white-color {
    color: $white
  }
}

.title {
  @include font-set(3, 3.2em, $textColor, 200); 
  margin: 0;
  text-transform: capitalize;
  padding-top: 25px;
  padding-bottom: 5px;

  @include mq('small-screen', 'max'){
    font-size: 2.5em;
  }
}

.subtitle{
  @extend %subtitle;
}

.subtitle2{
  @extend %subtitle;
  border-bottom: 3px solid $primaryColor;
}

.title3{
  @include font-set(1, 1em, $textColor, 100); 
  margin: 0;
}