@import '../globals/fonts.scss';
@import '../globals/colors.scss';

.container-title{
  padding-top: 0x;
  padding-bottom: 0px;

  .title{
    @include font-set(1, 1em, $textColor, 100); 
    margin: 0;
    
  }
  .title3{
    @include font-set(1, 1em, $textColor, 100); 
    margin: 0;
  }
  .white-color {
    color: $white
  }
}

.title {
  @include font-set(1, 2.5em, $textColor, 100); 
    margin: 0;
    text-transform: capitalize;

    padding-top: 25px;
    padding-bottom: 5px;
}
.title3{
  
  @include font-set(1, 1em, $textColor, 100); 
  margin: 0;
}