/*Color palette*/
 
$blue: #3092c4;
$white: #ffff;
$gray-light: #f7f7f8;

$gray-medium: #edeef0;
$gray-semi-dark: #aeadb3;
$gray-dark: #87868a;
$gray-darker: #5b5b5f;
$brown: #60553f;
$black: #0000;
$color-list: $blue, $white, $gray-light, $gray-medium, $gray-semi-dark, $gray-dark, $gray-darker, $brown;
$color-names: 'blue','white', 'gray-light', 'gray-medium', 'gray-semi-dark', 'gray-dark', 'gray-darker', 'brown';

$primary: $blue;
$secondary: $white;
$textColor:$black; 

@each $current-color in $color-list {
  $i: index($color-list, $current-color);
  //creates color classes for text
  .#{nth($color-names, $i)}{
    color: $current-color !important;
  }
  //creates color background classes
  .#{nth($color-names, $i)}-bg{
    background-color: $current-color !important;
  }
}


