@import '../../styles/container/main.scss';
.body {

  background: none;
}

.contenido {
  background: white;
  max-width: 1000px;
  padding: 20px;
  flex-grow: 1;

  min-height: 600px;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    max-width: 80%;
    max-height: 80%;
    height: 80%;
    width: 80%;

    @include mq('medium-screen', 'min'){
      max-width: 80%;
      max-height: 80%;
      height: 80%;
      width: 80%;
    }
  }

  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 85%;
    height: 220px;
    margin-bottom: 32px;
    border-radius: 20px;

    @include mq('small-screen', 'min'){
      height: 560px;

    }
  }

  h2{

    font-family: Lato, Lato-Regular,sans-serif;
    text-align: center;
    padding: 20px 0px 5px;
    font-size: 30px;
    @include mq('small-screen', 'min'){
      font-size: 35px;
    }
  }

  font-family:Lato,Lato-Regular ;
  text-align: justify;

}

.center {
  display: flex;
  justify-content: center;
}

.fuente {


  background:  rgba(255, 247, 226, 0.4);
}




