@import '../../styles/container/main.scss';
.body {

  background: none;
}

.contenido {
  background: white;
  max-width: 800px;
  padding: 20px;
  flex-grow: 1;

  min-height: 600px;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    max-width: 85%;
    max-height: 85%;
    height: 85%;
    width: 85%;

    @include mq('medium-screen', 'min'){
      height: 560px;
    }
  }

  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 90%;
    height: 220px;
    margin-bottom: 32px;
    border-radius: 20px;

    @include mq('small-screen', 'min'){
      height: 560px;

    }
  }

  h2{
    @include mq('small-screen', 'min'){
      font-size: 1.55em;
    }
  }



}

.center {
  display: flex;
  justify-content: center;
}

.fuente {
  font-family: "Times New Roman", Times, serif;
  font-size: 33px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 590;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

.fuenteBody{

  font-family: "Times New Roman";
  text-align: justify;
  @include mq('small-screen', 'min'){
    font-size: 1.2em;
  }
}


