$mainFont: 'Lato';
$secondaryFont: 'Lato';

$font_family_regular:'Lato-Regular';
$font_family_bold:'Lato-Regular';
$font_family_lora: 'Lato-Regular';

@font-face {
  font-family: $font_family_regular;
  src: url('../fonts/Lato/Lato-Regular-kern-latin.woff2');
  font-display: swap;
}

@font-face {
  font-family: $font_family_lora;
  src: url('../fonts/Lato/Lato-Regular-kern-latin.woff2');
  font-display: swap;
}

@mixin font-set($type: false, $size: false, $colour: false, $weight: false,  $lh: false) {
  @if ($type == 1) {
    font-family: $mainFont, $font_family_regular, sans-serif;
  }

  @if ($type == 2) {
    font-family: $mainFont, $font_family_bold, sans-serif;
  }

  @if ($type == 3) {
    font-family: $secondaryFont, $font_family_lora, 'Times New Roman';
  }

  @if $size {
      font-size: $size;
  }
  @if $colour {
      color: $colour;
  }
  @if $weight {
      font-weight: $weight;
  }
  @if $lh {
      line-height: $lh;
  }
}