@import "fonts";
@import "colors";
@import 'mq';

//variables
$margin-left-right: 3vw;
$header-size: 480px;

@mixin abs($top: false, $right: none, $bottom: none, $left: none) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom{
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}