node_modules/
dist/
.next/
// .gitnignore
# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
# Dependency directories
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/sw.js
public/sw.js.map
public/worker-*.js
public/worker-*.js.map

*.css

*.css.map

.idea/
*.DS_Store
**/.DS_Store
