@import '../../styles/globals/colors.scss';
@import '../../styles/globals/fonts.scss';
@import '../../styles/globals/mq.scss';

.container{
  grid-area: map;
}

.content{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

.map_container{
  position: relative;
}

.map{
  height: 32vw;
  width: 100%;
  margin-bottom: 10px;

  @include mq('large-screen','max'){
    height: 66vw;
  }
}

.info{
  margin-top: 20px;
  margin-bottom: 20px;
}

.title{
  @include font-set(1, 1.2em, $textColor, bold);
}
