@import '../../styles/container/main.scss';


.qtitle{
  font-size: 1.3em;
  @include mq('small-screen', 'min'){
    font-size: 1.55em;
  }
}

.answer{
  margin: 0 3vw;
  text-align: justify;
  @include mq('small-screen', 'min'){
    margin: 0 10vw;
  }

  h2{
    font-size: 1.1em;
    padding-top: 20px;
    @include mq('small-screen', 'min'){
      font-size: 1.2em;
    }
  }

  figure{
    padding-top: 20px;
    margin: 0;
    text-align: center;
  }
  img{
    width: 230px;
    height: 230px;
    @include mq('small-screen', 'min'){
      width: 300px;
      height: 300px;
    }
  }

  figcaption{
    font-style: italic;
    font-size: 0.9em;
  }
}