@import '../../styles/container/main.scss';


.item_title{
  padding-top: 10px;
  font-size: 1.3em;
  @include mq('small-screen', 'min'){
    font-size: 1.55em;
  }
}

.item{
  margin: 0 3vw;
}

.item_content{
  text-align: justify;
  height: 0;
  transition-duration: 10s;
  overflow: hidden;

  @include mq('small-screen', 'min'){
     margin: 0 10vw;
  }

  h2{
    font-size: 1.1em;
    padding-top: 20px;
    @include mq('small-screen', 'min'){
      font-size: 1.2em;
    }
  }

  figure{
    padding-top: 20px;
    margin: 0;
    text-align: center;
  }
  img{
    font-size: 7px;
    max-width: 37em;
    max-height: 37em;
    border: 1px solid $textColor;
    // margin: 0;
    @include mq('small-screen', 'min'){
      font-size: 16px;
    }
  }

  figcaption{
    font-style: italic;
    font-size: 0.9em;
  }
}