@import '../../styles/container/main.scss';


.item_title{
  font-size: 1.3em;
  @include mq('small-screen', 'min'){
    font-size: 1.55em;
  }
}

.item{
  margin: 0 3vw;
}

.item_content{
  @include mq('small-screen', 'min'){
     margin: 0 10vw;
  }

  h2{
    font-size: 1.1em;
    padding-top: 20px;
    @include mq('small-screen', 'min'){
      font-size: 1.2em;
    }
  }

  figure{
    padding-top: 20px;
    margin: 0;
    text-align: center;
  }
  img{
    // font-size: 7px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    
    border: 1px solid $textColor;
    // margin: 0;
    @include mq('small-screen', 'min'){
     // font-size: 16px;
     max-width: 37em;
    
      height: unset;
      width: unset;
     
    }
  }

  figcaption{
    font-style: italic;
    font-size: 0.9em;
  }
}