@import '../container/main.scss';

:root{
  --header-size: 480px;

  @include mq('small-screen','max'){
    --header-size: 400px;
  }
}

.image{
  position: relative;
  height: 30px;
  width: 30px;
}

.main-content{
  background-color: white;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr;
  column-gap: $margin-left-right;
  grid-template-areas: "map schedule"
                        "map form";

  @include mq('large-screen', 'max'){
    grid-template-columns: 1fr;
    grid-template-areas: "schedule"
                        "map"
                        "form";
  }
}