@import '../globals/settings.scss';

.home{
  h2{
    margin: 0 $margin-left-right;
    @include mq("small-screen", 'max'){
      font-size: 1.55em;
    }
  }
}


.products-container{
  padding-bottom: 48px;
  background: $backgroundLightColor;
}

.bidetframe-container{
  padding-bottom: 48px;
}
