@import '../globals/mq.scss';

.img1 {
  max-width: 100px;
  display: none;
  visibility: hidden;
  @include mq ('medium-screen','min'){
    visibility: visible;
    display: block;
  };
}

.img {
  max-width: 100px;
  display: none;
  visibility: hidden;
  @include mq ('medium-screen','max'){
    visibility: visible;
    display: block;
    
  };
}